/* ------------------------
Common/UI elements (images, video, buttons, etc)
------------------------ */
video {
	max-width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.back-to-top {
	text-align: right;
	display: block;
}

img.alignright,
img.alignleft,
img.aligncenter,
img.alignnone,
.caption {
	display: block;
	height: auto;
	margin: 0 auto 1em;
	max-width: 100%;
}

// .content {
img.alignright,
img.alignleft {
	float: none;
	@include media($tablet) {
		margin-bottom: 1em;
		max-width: 50%;
	}
}
img.alignleft {
	@include media($tablet) {
		float: left;
		margin-right: 2.5em;
	}
}
img.alignright {
	@include media($tablet) {
		float: right;
		margin-left: 2.5em;
	}
}
// }

.wp-caption {
	max-width: 95%;
	img {
		width: 100%;
		height: auto;
	}
}

img.alignleft,
img.alignright,
img.aligncenter,
.yes-frame {
	@extend %imgdefaults;
}

.button,
.buttons a,
.submit-btn,
.next-prev a,
a.page-numbers,
a.page-numbers.current,
.after-review-sprinkle .button {
	margin-bottom: 10px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	border: none;
	color: $lightColor;
	font-size: 13px;
	line-height: 25px;
	text-transform: none;
	font-family: $primaryFont;
	padding: 7px 20px;
	transition: all 0.2s ease-in-out;
	background: $primaryColor;
	text-transform: none;
	border-radius: 5px;
	@include media($tablet) {
		margin-bottom: 0;
		display: inline-block;
	}
	&:hover {
		text-decoration: none;
		background: $secondaryColor;
		color: $lightColor;
	}
}

.case-prev, .case-next {
	padding-right: 30px;
	padding-left: 30px;
}

// .after-review-sprinkle .button {
// 	&:hover {
// 		color: $secondaryColor;
// 	}
// }

// .submit-btn {
// 	color: $lightColor;
// 	// padding: 15px 60px 15px 40px;
// 	&:hover {
// 	color: $lightColor;
// 		background: transparent;
// 	}
// }

// .type-submitbutton {
// 	position: relative;
// 	background-color: $primaryColor;
// 	&:hover {
// 		color: $secondaryColor !important;
// 	}
// 	input {
// 		background: transparent !important;
// 	}
// }
// .type-submitbutton::before {
//     content: '';
//     position: absolute;
//     top: 10px;
//     right: calc(50% - 50px);
// 	background-image: url('images/icon-email.png');
//     background-size: 29px 29px;
//     width: 29px;
//     height: 29px;
//     z-index: 0;
// }

// .disclaimer {
// 	font-size: 11px;
// 	font-style: italic;
// }

.two-column {
	@include media($tablet) {
		column-count: 2;
		column-gap: 40px;
	}
}

.three-column {
	@include media($tablet) {
		column-count: 3;
		column-gap: 20px;
	}
}

::selection {
	background: $primaryColor;
}

// For jump links on a site with fixed header

:target:before {
	@include media($desktop) {
		content: "";
		display: block;
		height: 86px; /* fixed header height*/
		margin: -86px 0 0; /* negative fixed header height */
	}
}

/* Responsive iframes */

.content video {
	width: 100%;
	margin: 20px 0;
	height: auto;
}

.iframe-container {
	position: relative;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
	}
}

/* 16x9 Aspect Ratio */
.iframe-container-16x9 {
	padding-bottom: 56.25%;
	margin-bottom: 20px;
	margin-top: 20px;
	display: block;
	border: 10px solid #edeef0;
	@include media($tablet) {
		width: 640px;
		height: 360px !important;
		margin: 0 auto;
		padding-bottom: 0px;
		margin-top: 60px;
		margin-bottom: 60px;
		border: 20px solid #edeef0;
		// background: $tertiaryColor;
		// padding: 20px;
	}
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
	padding-bottom: 75%;
}

/* Hide Wow before JS Loads */

.wow {
	// z-index: -1;
	&.fadeIn,
	&.fadeInDown,
	&.fadeInUp,
	&.fadeInRight,
	&.slideInDown
	// &.slideInUp
	// &.bounceInRight,
	 {
	 	@include media($desktop) {
	 		
		opacity: 0;
		visibility: hidden;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	 	}
	}
}


/* Lazy Loading Images with a Fade */

.b-lazy {
    // -webkit-transition: opacity 400ms ease-in-out;
    // -moz-transition: opacity 400ms ease-in-out;
    // -o-transition: opacity 400ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    max-width: 100%;
    opacity: 0;

    @include media($tablet) {
    	// -webkit-transition: opacity 400ms ease-in-out;
    	// -moz-transition: opacity 400ms ease-in-out;
    	// -o-transition: opacity 400ms ease-in-out;
    	// transition: opacity 400ms ease-in-out;
    }
}

.b-lazy.b-loaded {
    opacity: 1;
}



/* Yottie Video Description Fix */
div.yottie-widget-video-info div.yottie-widget-video-info-caption{
  display: block!important;
}