.contact {
	.button {
		margin-bottom: 10px;
	}
	.seaforms .type-checkbox input + label {
		display: inline;
	}
	.seaforms .type-text > p {
		color: $darkColor;
		margin: 0;
		margin-bottom: 20px;
	}

	h2 {
		margin-top: 0;
	}

	form {
		.type-singlelinetext,
		.type-textarea {
			input,
			textarea {
				border: 1px solid rgba(#d4d4d4, 100%)  !important;
				// background: transparent !important;
			}
		}
	}

	.content {
		width: 100% !important;
		padding-right: 0;
	}

	&.thank-you .content {
		padding-right: 50px;
	}

	&.thank-you aside,
	.upper-footer {
		// display: none;
	}

	.contact-content {
		width: 100%;
		// padding-bottom: 50px;
		text-align: left;
		@include media($tablet) {
			// padding-left: 40px;
			// padding-right: 40px;
			display: flex;
		}
		section {
			@include media($tablet) {
				display: flex;
				max-width: 100%;
			}
		}
	}
	.contact-form {
		@include media($tablet) {
			width: 50%;
			padding-right: 50px;
		}
	}
	.office-info {
		@include media($tablet) {
			width: 50%;
		}
	}
	h2 {
		// @include font(28px);
		// text-transform: none;
		// margin-top: 70px;
	}
	// .type-radiobuttons > label,
	// .type-textarea label {
	// 	@include font(18px, 150%, $bold);
	// 	font-family: $secondaryFont;
	// 	padding-bottom: 10px;
	// }

	.the-address {
		margin-bottom: 40px;
	}
	.gmaps {
		width: 100%;
		margin-bottom: 16px;
		iframe {
			width: 100%;
			height: 400px;
		}
	}
	.addy-hours {
		@include media($tablet) {
			justify-content: space-between;
			display: flex;
		}
		strong {
			font-size: 16px;
		}
	}
	.address {
		text-align: left;
		// width: 50%;
	}
	.the-hours {
		display: block;
		margin-top: 40px;
		@include media($tablet) {
			margin-top: 0px;
			// width: 50%;
		}
	}
}

.gmaps {
	width: 100%;
	margin-bottom: 16px;
	border: 1px solid rgba($darkColor, 0.2);
	iframe {
		display: block;
		width: 100%;
		height: 200px;
	}
}

