



/*====================================
=            Upper Footer            =
====================================*/

/* Hide Footer on Contact Page */

.contact .upper-footer, 
.contact .footer-cta {
	display: none;
}

.upper-footer {
	background-color: #1d2a33;
	padding-top: 40px;
	padding-bottom: 40px;
	background-position: center center;
	background-repeat: no-repeat; 
	background-size: cover;

	@include media($tablet) {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	@include media($desktop) {
	}
	.the-headline {
		color: $lightColor;
		font-family: $secondaryFont;
		margin-bottom: 40px;
		@include media($tablet) {
			margin-bottom: 20px
		}
	}

	form {
		.field-wrap:not(.type-text):not(.type-checkbox) {
			margin-bottom:0px;
		}
		.stopyenoh, #pot {position: absolute;}
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.type-singlelinetext {
			width: 49%;
		}
		.type-textarea {
			width: 100%;
			textarea {
				height: 120px;
			}
		}
		.type-submitbutton {
			margin: 0 auto;
			margin-top: 20px;
		}
		// .stopyenoh {
		// 	position: absolute;
		// }
		.disclaimer {
			margin: 0 auto;
			// max-width: 600px;
			color: $lightColor;
			line-height: 14px;
			margin-bottom: 10px;
			@include media($desktop) {
				padding-left: 180px;
				padding-right: 180px;
			}
		}
	}


}


/* FOOTER ADDRESSES */
/* FOOTER ADDRESSES */
/* FOOTER ADDRESSES */

.footer-locations {
	margin-top: 100px;
	.footer-address {
		text-align: left;
		@include media($tablet) {
			display: flex;
			justify-content: space-around;
		}
		@include media($desktop) {
		}
		color: $lightColor;
		a {
			color: $lightColor;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		.the-loc {
			position: relative;
			margin-bottom: 80px;
			margin-left: 90px;
			@include media($desktop) {
				margin-bottom: 0px;
			}
			i {
				color: $secondaryColor;
				position: absolute;
					font-size: 72px;
					left: -70px;
				@include media($tablet) {
					
				}
			}
		}
		a.loc-map-directions {
			text-decoration: underline;
			color: $primaryAlt;
		}
		.the-loc:nth-of-type(2) {
			.loc-phone span {display: none;}
		}
	}
}

footer .footer-logo {
	padding-top: 60px;
	margin-bottom: 40px;
	@include media($tablet) {
		
	}

	@include media($desktop) {
		margin-bottom: 20px;
		
	}
}

.middle-footer {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center; 
	padding-left: 20px;
	padding-right: 20px;
	@include media($tablet) {
		padding-left: 0px;
		padding-right: 0px;
	}
	@include media($desktop) {
		justify-content: space-between;
		margin-bottom: 40px;
	}
	> div {
		width: 100%;
		margin-bottom: 60px;
		@include media($tablet) {
			// width: 40%;
		}
		&:last-of-type(){
			margin-bottom: 0;
		}
		@include media($desktop) {
			width: auto;
			margin-bottom: 0;
		}
	}
	.footer-headling {
		font-size: 20px;
		margin-bottom: 10px;
		display: block;
		width: 100%;
	}
	.footer-social {
		width: 220px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		a {
			color: $primaryAlt;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			margin: 0 8px;
			font-size: 34px;
			transition: all 0.2s ease-in-out;
			&:hover {
				color: $secondaryColor !important;
			}
		}
		.fa-facebook {color: #3c5b9a;}
		.fa-twitter {color: #55acee;}
		.fa-instagram {color: #c43a32;}
		.fa-youtube {color: #c43a32;}
	}
	.online-bill-pay {
		width: 200px;
		@include media($desktop) {
			position: relative;
			right: 8vw;
		}
	}
	.shop-button {
		position: relative;
		img {
			margin-bottom: 25px;
			@include media($tablet) {
				margin-right: 20px;
				margin-bottom: 0;
			}
		}
		.button {
			padding-right: 50px;
			max-width: 280px;
			margin: 0 auto
		}
		svg {
			width: 26px;
			height: 27px;
			position: absolute;
			right: 20px;
			top: 15px;
			path {
				fill: #fff;
			}
		}
	}
}




/*====================================
=            Lower Footer            =
====================================*/


.lower-footer {
	text-align: center;
	background-color: $lightColor;
	color: $darkColor;
	padding-top: 40px !important;
	padding-bottom: 40px;
	@include media($desktop) {
		padding-bottom: 80px;
	}
	.disclaimer {
		font-style: italic;
		margin-bottom: 20px;
		font-size: 12px;
		line-height: 16px;
		@include media($desktop) {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.reviews_markup span {
	color: $tertiaryColor;
}

.copyright,
.rm-sig {
	display: inline-block;
	font-family: $primaryFont;
	text-align: center;
	color: $tertiaryColor;
	font-size: 12px;
	line-height: 16px;
	@include media($desktop) {
		font-size: 14px;
		line-height: 20px;
	}
	a {
		color: $tertiaryColor;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

.rm-logo  {
	svg {
		position: relative;
		width: 71px;
		top: 20px;
		height: auto;
		path {
			fill: #000;
			transition: all 0.1s ease-in;
		}
		&:hover {
			path {
				fill: $secondaryColor;
			}
		}

	}
}





// .footer-logos {
// 	// max-width: 968px;
// 	margin: 0 auto;
// 	padding: 15px 0;
// 	margin-bottom: 20px;
// 	@include media($tablet) {
// 		// margin-top: 40px;
// 		// margin-bottom: 60px;
// 	}
// 	ul {
// 		list-style: none;
// 		display: flex;
// 		flex-wrap: wrap;
// 		justify-content: space-between;
// 		align-items: center;
// 		@include media($tablet) {
// 			justify-content: center;
// 			flex-wrap: nowrap;
// 		}
// 	}
// 	li {
// 		margin: 0 10px;
// 		width: 25%;
// 		@include media($tablet) {
// 			width: auto;
// 		}
// 	}
// }