// header,
// .welcome-parallax,
.home-aboutus,
.home-doctor,
.home-featured-procedures,
.surgery-through-the-ages,
.upper-footer,
.middle-footer,
.lower-footer,
.footer-logo,
.footer-map
footer 
{
	display: none !important;
}

/*===============================================
=            Welcome to my Website!             =
===============================================*/

.welcome-parallax {
	@include media($desktop) {
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.welcome {
	background: #fff url("images/bg-welcome.jpg") top center no-repeat;
	background-size: cover;
	background-position-x: right -150px; 
	background-position-y: top 140px; 
	height: 687px;
	position: relative;
	overflow: hidden;
	@include media(600px) {
		// background-position-x: right 0px; 
	}
	@include media($tablet) {
		background: #fff url("images/bg-welcome.jpg") top center no-repeat;
		background-position-x: right -250px; 
		background-size: cover;
		height: 720px;
	}
	@include media($desktop) {
		background: none;
		height: 930px;
		min-height: 930px;
	}

	.welcome-logo {
		padding-top: 70px;
		width: 100%;
		max-width: 387px;
		left: 0;
		right: 0;
		margin: 0 auto;
		@include media($tablet) {
			margin: 0;
			max-width: none;
			padding-top: 115px;
			width: 387px;
			height: auto;
			left: 40px;
			right: auto;
		}
		@include media($desktop) {
			width: 549px;
			height: 75px;
			right: calc(50%);
			left: auto;
			padding-top: 115px;
		}
		h1 {
			margin: 0;
		}
	}
	.welcome-cta {
		text-align: left;
		padding-top: 280px;
		max-width: 300px;
		@include media($tablet) {
			max-width: 400px;
			right: 40px;
			padding-top: 100px;
		}
		@include media($desktop) {
			max-width: 600px;
			padding-top: 200px;
		}
		h2 {
			margin-top: 0;
			color: $secondaryColor;
			font-family: $secondaryFont;
			font-size: 50px;
			line-height: 40px;
			@include media($tablet) {
				font-size: 70px;
				line-height: 70px;
			}
			@include media($desktop) {
				font-size: 102px;
				line-height: 95px;
			}
			span {
				font-weight: 400;
				letter-spacing: -1px;
				font-size: 36px;
				@include media($tablet) {
					font-size: 30px;
					line-height: 30px;
				}
				@include media($desktop) {
					font-size: 50px;
					line-height: 46px;
				}
				display: block;
				font-family: $primaryFont;
				color: $primaryColor;
			}
		}
		p {
			@include media($tablet) {
				max-width: 370px;
				
			}
			@include media($desktop) {
				max-width: 510px;
				font-size: 15px;
			}
		}
		h2, p, a {
			position: relative;
			z-index: 999;
		}
		.overlay {
			z-index: 100;
			opacity: .8;
			width: 150px;
			height: 150px;
			position: absolute;
			bottom: 60px;
			left: 80px;
			border-radius: 50%;
		    background-color: #fff;
		    box-shadow:
		        0 0 60px 30px #fff, 
		        0 0 100px 60px #fff,
		        0 0 140px 90px #fff;
	        @include media($tablet) {
	        	display: none;
	        }
		}
	}
}

.welcome-bottom {
		text-align: left;
		padding-top: 25px;
		@include media($tablet) {
			display: flex;
		}
		@include media($desktop) {
			padding-top: 0px;
			justify-content: space-between;
			align-items: center;
			margin-top: -160px;
		}
	span {
		font-family: $secondaryFont;
		font-style: italic;
		color: $primaryColor;
		display: block;
		font-size: 15px;
		width: 100%;
		margin-bottom: 10px;
	}
	.top-recognition {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include media($tablet) {
			justify-content: space-between;
		}
		@include media($desktop) {
			justify-content: flex-start;
		}

	}
	.reco {
		max-width: 270px;
		font-size: 12px;
		line-height: 12px;
		img {
			float: left;
			margin-right: 10px;
		}
		&:first-of-type {
			margin-right: 30px;
			margin-bottom: 20px;
			@include media($tablet) {
				margin-bottom: 0;
			}
		}
	}
	.icon-video {
		@include media($tablet) {
			position: absolute;
			right: 20px;
			top: 580px;

		}
		@include media($desktop) {
			position: relative;
			right: -40px;
			top: auto;
		}
	}
}

/*====================================
=            home-aboutus            =
====================================*/

.home-aboutus {

}

/*===================================
=            home-doctor            =
===================================*/

.home-doctor {
	background: $darkColor;
	color: $lightColor;
	text-align: left;
	@include media($tablet) {
		display: flex;
		justify-content: center;
		margin-bottom: 85px;
	}
	@include media(1660px) {
		// margin-bottom: 0px;
	}
	> div {
		@include media($tablet) {
			width: 50%;
		}
	}
	.doc-image {
		background-position: center;
		background-size: cover;
		min-height: 300px;
	}
	.doc-content {
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 20px;
		padding-right: 20px;
		@include media($tablet) {
			padding-top: 50px;
			padding-bottom: 50px;
			padding-left: 40px;
			padding-right: 40px;
			margin: 0 auto;
		}
		@include media($desktop) {
			padding-top: 100px;
			padding-bottom: 100px;
			padding-left: 100px;
			padding-right: 100px;
		}
		h2, p {
			max-width: 600px;
		}
	}
	h2 {
		display: block;
		width: 100%;
		margin-top: 0;
		text-align: left;
		margin-bottom: 20px;
		@include media($tablet) {
			margin-bottom: 20px;
		}
		span {
			display: block;
			font-size: 18px;
			text-transform: uppercase;
			@include media($tablet) {
				font-size: 24px
			}
		}
	} 
	.button {
		margin-top: 20px;
		margin-left: 0;
	}
}


/*================================================
=            home-featured-procedures            =
================================================*/
