header,
.welcome-parallax,
.welcome-bottom,
.home-aboutus,
// .home-doctors,
.home-weight,
.home-featured,
.home-orbera,
.home-news,
.upper-footer,
.middle-footer,
.lower-footer,
.footer-logo,
.footer-map
footer 
{
	// display: none !important;
}


.home h2 {
	font-family: $secondaryFont;
	color: $primaryColor;
	margin-bottom: 0;
	margin-top: 0;
	span {
		color: $secondaryColor;
	}
	font-size: 40px;
	@include media($tablet) {
		
	}
	@include media($desktop) {
		font-size: 48px;
		line-height: 54px;
	}
}

/*===============================================
=            Welcome to my Website!             =
===============================================*/

.welcome-parallax {
	@include media($desktop) {
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.welcome {
	background: #fff url("images/bg-welcome.jpg") top center no-repeat;
	// background-size: cover;
	// background-position: center right;
	background-position-x: -1250px; 
	// background-position: center;
	background-position-y:  120px; 
	height: 687px;
	position: relative;
	overflow: hidden;
	@include media(600px) {
		// background-position-x: right 0px; 
	}
	@include media($tablet) {
		background: #fff url("images/bg-welcome.jpg") top center no-repeat;
		background-position-x: right -250px; 
		background-size: cover;
		height: 720px;
	}
	@include media($desktop) {
		background: none;
		height: 930px;
		min-height: 930px;
	}

	.welcome-logo {
		padding-top: 70px;
		width: 100%;
		max-width: 387px;
		left: 0;
		right: 0;
		margin: 0 auto;
		@include media($tablet) {
			margin: 0;
			max-width: none;
			padding-top: 115px;
			width: 387px;
			height: auto;
			left: 40px;
			right: auto;
		}
		@include media($desktop) {
			width: 549px;
			height: 75px;
			right: calc(50%);
			left: auto;
			padding-top: 115px;
		}
		h1 {
			margin: 0;
		}
	}
	.welcome-cta {
		text-align: left;
		padding-top: 280px;
		max-width: 300px;
		@include media($tablet) {
			max-width: 400px;
			right: 40px;
			padding-top: 100px;
		}
		@include media($desktop) {
			max-width: 600px;
			padding-top: 200px;
		}
		h2 {
			margin-top: 0;
			color: $secondaryColor;
			font-family: $secondaryFont;
			font-size: 50px;
			line-height: 40px;
			@include media($tablet) {
				font-size: 70px;
				line-height: 70px;
			}
			@include media($desktop) {
				font-size: 102px;
				line-height: 95px;
			}
			span {
				font-weight: 400;
				letter-spacing: -1px;
				font-size: 36px;
				@include media($tablet) {
					font-size: 30px;
					line-height: 30px;
				}
				@include media($desktop) {
					font-size: 50px;
					line-height: 46px;
				}
				display: block;
				font-family: $primaryFont;
				color: $primaryColor;
			}
		}
		p {
			@include media($tablet) {
				max-width: 370px;
				
			}
			@include media($desktop) {
				max-width: 510px;
				font-size: 15px;
			}
		}
		h2, p, a {
			position: relative;
			z-index: 999;
		}
		.overlay {
			z-index: 100;
			opacity: .8;
			width: 150px;
			height: 150px;
			position: absolute;
			bottom: 60px;
			left: 80px;
			border-radius: 50%;
		    background-color: #fff;
		    box-shadow:
		        0 0 60px 30px #fff, 
		        0 0 100px 60px #fff,
		        0 0 140px 90px #fff;
	        @include media($tablet) {
	        	display: none;
	        }
		}
	}
}

.welcome-bottom {
		text-align: left;
		padding-top: 25px;
		@include media($tablet) {
			display: flex;
		}
		@include media($desktop) {
			padding-top: 0px;
			justify-content: space-between;
			align-items: center;
			margin-top: -160px;
		}
	span {
		font-family: $secondaryFont;
		font-style: italic;
		color: $primaryColor;
		display: block;
		font-size: 15px;
		width: 100%;
		margin-bottom: 10px;
	}
	.top-recognition {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include media($tablet) {
			justify-content: space-between;
		}
		@include media($desktop) {
			justify-content: flex-start;
		}

	}
	.reco {
		max-width: 270px;
		font-size: 12px;
		line-height: 12px;
		img {
			float: left;
			margin-right: 10px;
		}
		&:first-of-type {
			margin-right: 30px;
			margin-bottom: 20px;
			@include media($tablet) {
				margin-bottom: 0;
			}
		}
	}
	.icon-video {
		@include media($tablet) {
			position: absolute;
			right: 20px;
			top: 580px;

		}
		@include media($desktop) {
			position: relative;
			right: -40px;
			top: auto;
		}
	}
}

/*====================================
=            home-aboutus            =
====================================*/

.home-aboutus {
	text-align: left;
	padding-top: 40px;
	padding-bottom: 40px;
	@include media($tablet) {
		padding-top: 80px;
		padding-bottom: 100px;
	}

	@include media($desktop) {
		display: flex;
		justify-content: space-between;
	}
	> div {
		&:first-of-type{
			margin-bottom: 60px;
		}
		@include media($desktop) {
			margin-bottom: 0px;
			width: 48%;
		}
	}
	.about-sub-head {
		font-size: 18px;
		display: block;
		margin-top: 5px;
		margin-bottom: 20px;
		@include media($desktop) {
			margin-bottom: 40px;
		}
	}
}

.home-doctors {
	background-position: center center;
	position: relative;
	overflow: hidden;
	background-size: cover;
	height: 600px;
	@include media($tablet) {
		height: 817px;
		padding-top: 40px;
	}
	@include media($desktop) {
		padding-top: 80px;
		height: 557px;
	}
	.our-docs {
		position: absolute;
		bottom: -60px;
		left: 20px;
		right: 0px;
		@include media(446px) {
			bottom: -100px;
		}
		@include media($tablet) {
			left: 60px;
			bottom: auto;
			top: 340px;
			width: 900px;
		}
		@include media($desktop) {
			width: auto;
			top: 0px;
			right: auto;
			left: calc(50% - 640px;);
			height: auto;
		}
	}
	.the-docs {
		background-position: top center;
		width: 350px;
		height: 351px;
		margin: 0 auto;
		@include media($tablet) {
			// background-size: cover;
			// width: 100%;
		}
		@include media($desktop) {
			width: 350px;
			height: 351px;
			margin-left: calc(50% + 200px);
		}
		h3 {
			margin-top: 0;
			padding-top: 30px;
			color: $lightColor;
			margin-bottom: 0;
			font-family: $secondaryFont;
			@include media($tablet) {
				padding-top: 30px;
				font-size: 26px;
			}
		}
		ul {
			margin: 0;
			list-style: none;
			padding: 40px;
			a {color: #fff;text-decoration: none;}
			li {
				padding: 7px 0;
				border-top: 1px solid rgba(#fff, .4);
				text-align: left;
				&:last-of-type() {
					border-bottom: 1px solid rgba(#fff, .4);
				}
			}
		}
	}
}

.home-weight {
	width: 100%;
	background-position: left center;
	background-position-x: left -300px; 
	background-repeat: no-repeat;
	background-size: cover;
	text-align: left;
	padding-bottom: 40px;
	position: relative;
	@include media($tablet) {
		padding-bottom: 160px;
		background-position: center center;
	}
	@include media($desktop) {
		padding-bottom: 0px;
		min-height: 655px;
	}
	h2 {
		color: $lightColor;
		margin-bottom: 20px;
		padding-top: 40px;
		@include media($tablet) {
			padding-top: 140px;
		}
		@include media($desktop) {
			padding-top: 140px;
			font-size: 56px;
		}
	}
	.icon-scale {
		display: block;
		@include media($tablet) {
			width: 400px;
		}
		@include media($desktop) {
			width: auto;
		}
	}

	.icon-patient {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 40px;
		@include media($tablet) {
			width: auto;
			width: 390px;
			margin: 0;
			position: absolute;
			right: calc(50% - 420px);
			display: block;
			top: 100px;
		}
		@include media($desktop) {
			top: 100px;
			width: 480px;
			right: calc(50% - 550px);
		}
		@include media($full) {
			width: auto;
			position: absolute;
			top: 100px
		}
	}
}


.home-orbera {
	text-align: left;
	padding-top: 40px;
	padding-bottom: 40px;
	background-size: cover;
	background-position: center;
	position: relative;
	min-height: 660px;
	h2 {
		color: $secondaryColor;
		span {
			display: block;
			font-family: $primaryFont;
			font-size: 22px;
			color: #000;
			line-height: 24px;
			margin-bottom: 40px;
		}
	}
	@include media($tablet) {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	@include media($tablet) {
		padding-right: 50%;
	}
	img {
		width: 80%;
		margin-bottom: 40px;
		@include media($tablet) {
			margin-bottom: 0px;
			position: absolute;
			width: 400px;
			left: 50%;
			top: calc(50% - 200px);
		}
		@include media($desktop) {
			top: 50px;
			width: auto;
		}
	}
	.button {
		margin-top: 30px;
		&:first-of-type() {
			margin-right: 20px;
		}
	}
	.orbera-fee {
		position: relative;
		margin-top: 20px;
		font-family: $secondaryFont;
		color: $primaryColor;
		font-size: 25px;
		line-height: 28px;
	}
	.orbera-call {
		font-family: $primaryFont;
		color: $secondaryColor;
		font-size: 20px;
		line-height: 38px;
	}
}


.home-featured {
	position: relative;
	text-align: left;
	padding-top: 40px;
	padding-bottom: 40px;
	background-position: center right;
	background-position-x: right -200px;
	@include media($tablet) {
		padding-top: 120px;
		padding-bottom: 120px;
		background-size: cover;
	}
	@include media($desktop) {
		background-position: top center;
	}
	.special-headline {
		background: $lightColor;
		position: relative;
		z-index: 3000;
		display: none;
		width: 450px;
		padding: 30px 20px;
		box-shadow: 0px 0px 30px rgba($darkColor, .3);
		@include media($desktop) {
			display: block;
			position: absolute;
			right: calc( 50% - 480px);
			top: calc( 50% - 50px); 
			h2 {
				font-size: 50px;
			}
		}
	}
	h3 {
		margin-top: 0;
		position: relative;
		z-index: 3000;
		margin-bottom: 40px;
		color: $lightColor;
		font-family: $secondaryFont;
		@include media($tablet) {
			font-size: 40px;
		}
	}
	h3:nth-of-type(2) {
		margin-top: 60px;
		@include media($tablet) {
			margin-top: 100px;
		}
	}
	ul {
		position: relative;
		z-index: 3000;
		list-style: none;
		width: 100%;
		margin-top: 40px;
		@include media($desktop) {
			margin-bottom: 20px;
			width: 50%;
		}
		a {
			display: block;
			padding-top: 7px;
			padding-bottom: 7px;
			border-bottom: 1px solid rgba(#fff, .2);
			color: #fff;
			text-decoration: none;
			background: transparent;
			transition: backround .3 ease-in;
			&:hover {
				background: rgba(#fff, .1);
			}
		}
		li {
			&:first-of-type() {
				border-top: 1px solid rgba(#fff, .2);
			}
		}
		li {
			@include media($tablet) {
			&:nth-of-type(4) {
				border-top: 1px solid rgba(#fff, .2);
			}
			}
		}
	}

	.the-overlay {
		width: 100%;
		height: 100%;
		background: rgba($secondaryColor, .9);
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 2000;
		@include media($desktop) {
			width: 55%;
		}
	}
	.button {
		position: relative;
		z-index: 3000;
		margin-top: 20px;
		&:hover {
			background: darken($primaryColor, 10%);
		}
	}
}


.home-news {
	text-align: left;
	padding-top: 40px;
	padding-bottom: 40px;
	@include media($tablet) {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	.the-headline {
		font-family: $secondaryFont;
		color: $secondaryColor;
		text-align: center;
		margin-bottom: 60px;
		@include media($desktop) {
			font-size: 40px;
		}
	}
	ul {list-style: none;

		@include media($tablet) {
			display: flex;
			> li {
				width: 30%;
				margin-right: 40px;
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
	li {
		margin-bottom: 50px;
		@include media($desktop) {
			margin-bottom: 0;
		}
	}
	a {
		text-decoration: none;
	}
	.news-head {
		font-size: 22px;
		font-family: $secondaryFont;
		display: block;
		margin-bottom: 15px;
	}
	p {
		color: $darkColor;
	}
}