/*========================================
=            Category Archive            =
========================================*/

.tmpl_type_rmg_archive {
	h2 {
		text-align: center;
		margin-top: 20px;
		@include media($tablet) {
			font-size: 26px;
		}
	}
	.content {
		width: 100%;
		justify-content: space-between;
		padding-right: 0;
		@include media($tablet) {
			display: flex;
			flex-wrap: wrap;
		}
		> div {
			width: 100%;
			@include media($tablet) {
				width: 32.5%;
			}
		}
		ul {
			margin-left: 0;
			list-style: none;
			margin: 0;
			margin-top: 10px;

			li {
				padding-left: 0;
				a {
					text-transform: uppercase;
					border-radius: 4px;
					padding: 10px;
					padding-left: 20px;
					display: inline-block;
					width: auto;
					text-align: left;
					text-decoration: none;
					color: $primaryColor;
					width: 100%;
					display: block;
					background: $secondaryAlt;
				// border-bottom: 2px solid transparent;
				&:hover {
					// border-bottom: 2px solid rgba($primaryColor, 1);
				}
			}
			&:before {
				display: none;
			}
		}
	}
}
.interior {
	display: block;
}

.cat-container {
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	margin-top: 40px;
	@include media($tablet) {
			// margin-top: 60px;
		}

		a {
			text-decoration: none;
		}
	}
	.gallery-section {
		height: 265px;
		background-position: center center; 
		background-repeat: no-repeat;
		background-size: cover;
	}

}
// Category Child

.gal-title {
	width: 100%;
	color: $secondaryColor;
	position: relative;
	// border-bottom: 1px solid $secondaryColor;

	h2 {
		font-family: $secondaryFont;
		text-align: center;
		color: $darkColor;
		// color: $secondaryColor;
		// max-width: 600px;
		// margin: 0 auto;
		margin-top: 40px;
		&:first-of-type {
			margin-top: 0;
		}
	}
	// &:before {
	// 	content: '';
	// 	border-top: 1px solid $secondaryColor;
	// 	position: absolute;
	// 	top: 60%;
	// 	left: 0;
	// 	width: calc(50% - 220px);

	// }
	// &:after {
	// 	content: '';
	// 	border-top: 1px solid $secondaryColor;

	// 	position: absolute;
	// 	top: 60%;
	// 	right: 0;
	// 	width: calc(50% - 220px);
	// }
	a {
		color: $secondaryColor;
	}
}

.tmpl_type_rmg_category_child,
.tmpl_type_rmg_category_parent {
	.interior {
		padding-top: 40px;
	}
	.gallery-cat-wrap {
		// @include media($tablet) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		// }
		padding-left: 0;
		padding-right: 0;
		margin-top: 40px;
		@include media($tablet) {
			margin-top: 0px;
		}
	}
	.bna-group {
		// border: 1px solid #d0d6cd;
		width: 100%;
		margin-bottom: 100px;
		position: relative;
		@include media($tablet) {
			width: 30%;
		}

		&:hover {
			h2 {
				// background: $primaryColor;
			}
		}

		h2 {
			font-size: 20px;
			text-align: center;
			color: $primaryColor;
			// color: #707479;
			margin-top: 0;
			margin-bottom: 10px;
			font-weight: 100;
			@include media($tablet) {
				font-size: 24px;
			}
		}
		.hover-overlay {
			text-align: center;
			width: 100%;
			font-size: 18px;
			z-index: 1;
			a {
				text-decoration: none;
				color: $primaryColor;
				background: $lightColor;
				width: 100px;
				height: 100px;
				display: block;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				margin: 0 auto;
				top: calc(50% - 10px);
				right: calc(50% - 50px);
				position: absolute;
				opacity: 0;
				transition: all .25s ease-in-out;
				font-size: 12px;
			}
			i {
				font-size: 40px;
			}
		}
		.button {
			background: $secondaryAlt;
			position: absolute;
			left: 0;
			right: 0;
			width: 200px;
			margin: 0 auto;
		}
		&:hover {
			.hover-overlay a {
				top: calc(50% - 50px);
				opacity: 1;
			}
		} 
	}
	.case-details {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.img-set {
		margin-bottom: 10px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		justify-content: space-between;
		> a {
			display: block;
			width: 49.5%;
		}
		a {
			&:nth-last-of-type(2),
			&:nth-last-of-type(1) {
				.bna-label {
					display: block;
					display: none;
					color: $primaryColor;
					text-transform: uppercase;
					font-weight: bold;
					// letter-spacing: 1px;
				}
			}
			.bna-label {
				display: none;
			}
		}
		// }
		img {
			width: 100%;
			margin-bottom: 10px;
			// border: 1px solid rgba($primaryColor, .4);
		}
		.before-link,
		.after-link {
			position: relative;
			&:after {
				content: "";
				// background: url('images/bg-bna-watermark.png');
				background-size: 100%;
				background-repeat: no-repeat;
				position: absolute;
				bottom: 3px;
				left: 10px;
				width: 90%;
				height: 20px;
				color: $primaryColor;

				@include media($tablet) {
					left: 20px;
					height: 40px;
					bottom: 20px;
				}
			}
		}
	}

	.details-hdng {
		// text-align: left;
		// font-weight: $normal;
		// color: $lightColor !important;
		// margin-top: 40px;
		// font-family: $highlightFont;
		// text-transform: uppercase;
	}
	.patient-details {
		text-align: left;
	}
}

// Single Case

.tmpl_type_rmg_single_case {
	.interior {
		display: block;
		padding-bottom: 40px;
		padding-top: 40px;
		@include media($tablet) {
			padding-bottom: 120px;
		}
	}
	.single-case-title {
		// margin-top: 40px;
	}
	.single-case-content {
		// background-color: #f6f7f6;
		margin-top: 20px;
		@include media($tablet) {
			margin-top: 40px;
		}
			// padding: 25px;
		}
		h2 {
			text-align: center;
			margin: 0;
			margin-bottom: 20px;
		}
		.case-wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		// border: 1px solid red;
		margin: 0 auto;
		text-align: center;
		// padding: 0px 0;
		position: relative;
		@include media($tablet) {
			// width: 80%;
		}
	}

	.img-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		@include media($desktop) {
			width: calc(100% - 420px);
			// width: 60%;
		}
		> div {
			position: relative;
			width: 49%;
			margin-bottom: 30px;
			img {
				width: 100%;
				// border: 1px solid rgba($primaryColor, .4);
			}
			&:nth-last-of-type(2),
			&:nth-last-of-type(1) {
				.bna-label {
					font-family: $secondaryFont;
					position: absolute;
					display: block;
					// bottom:0px;
					width: 100%;
					text-align: center;
					color: $primaryColor;
					font-size: 1.4em;
					margin-top: 10px;
					// text-transform: uppercase;
					// font-weight: bold;
					// letter-spacing: 1px;
				}
			}
		}
		.bna-label {
			display: none;
		}

		.before-img,
		.after-img {
			position: relative;
			&:after {
				content: "";
				background-size: 100%;
				background-repeat: no-repeat;
				position: absolute;
				bottom: 3px;
				left: 10px;
				width: 90%;
				height: 20px;

				@include media($tablet) {
					left: 20px;
					height: 40px;
					bottom: 10px;
				}
			}
		}
	}

	.case-wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.patient-details {
		width: 100%;
		height: auto;
		background: transparent;
		text-align: left;
		padding: 30px 0 20px 0;
		font-size: 14px;
		line-height: 20px;
		margin-top: 20px;
		br {
			margin-bottom: 30px;
		}
		@include media($tablet) {
			padding: 30px 35px 20px 35px;
		}
		@include media($desktop) {
			margin-left: 20px;
			width: 400px;
			
		}
		span {
			font-family: $secondaryFont;
			color: $primaryColor;
			font-size: 25px;
			padding-bottom: 20px;
			display: block;
			border-bottom: 1px solid #ccc;
			margin-bottom: 20px;
			@include media($tablet) {
				font-size: 35px;
			}
		}
	}
}

.notice-body-everything {
	h2,
	p {
		color: $darkColor;
	}
}



.gallery-title {
	background: $darkColor;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	h1 {
		max-width: 250px;
		@include media($tablet) {
			max-width: none;
			max-width: 850px;
		}
	}
}

.gallery-nav {
	text-align: center;
	// margin: 0 auto;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 0;
	padding-right: 0;
	@include media($tablet) {
	// margin-top: 40px;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100%;
}
	.gallery-button {
		display: none;
		@include media($tablet) {
			display: block;
		}
	}

}

.single-case-title {
	color: #707479;
	font-size: 18px; 
	text-align: center;
	padding-top: 14px;
	padding-bottom: 15px;
	height: 100%;
	width: auto;
	display: block;
	@include media($tablet) {
		font-size: 24px; 
	}
}

.backtogal a, 
.button-gallery-prev,
.button-gallery-next {
	// background: $secondaryAlt;
} 

.button-gallery-prev {
	margin-right: 5px;
}

.button-gallery-prev i, 
.button-gallery-next i { 
	font-size: 35px;
	line-height: 0;
	position: relative;
	top: 8px;
}
.button-gallery-prev i {
	right: 10px;
} 

.button-gallery-next i {
	left: 10px;
}