$menuHeight : 60px;

/* Start Hover Menu */

.hover-menu {
	// position: absolute;
	// right: 10px;
	// bottom: 0;
	.duplicate-item {
		display: none;
	}
	// width: 100%;
	// border: 1px solid black;
	// @include font(18px, 1em);
	display: block;
	.main-menu {
		font-size: 0;
		text-align: center;
		display: flex;
		justify-content: baseline;
		align-items: center;
		height: $menuHeight;
		> li {
			display: inline-block;
			vertical-align: top;
			position: relative;
			height: 100%;
			// margin-left: 10px;
			// &:last-of-type {
			// 	a {
			// 		padding-right: 0;
			// 	}
			// }
			//show sub-menus on hover
			&:hover{
				> a {
					color: $darkColor;
					background: $secondaryAlt;
					// border-bottom: 2px solid $tertiaryColor;

					// border-top: 1px solid $tertiaryColor;
					// background: lighten($primaryColor, 15%);
					// background: $darkColor;
					// background-color: $secondaryAlt;


				} 
				> .sub-menu{
					opacity: 1;
					visibility: visible;
					z-index: 50;
					top: $menuHeight; //same as height of .main-menu
					// width: 800px;
					// right: 0;
				}
			}
			&.mega-menu{
				position: static;
			}
			a{	
				display: block;
				text-decoration: none;
				padding: 28px 20px;
				transition: .25s ease-in-out background;
				color: $lightColor; 
				height: $menuHeight;
				text-transform: uppercase;
				// border: 1px solid red;
				// font-family: $secondaryFont;
				// text-transform: uppercase;
				
				&:hover {
					color: $darkColor;
					background: $secondaryAlt;
				}
			}
		}
	}

	a {
		line-height: 5px;
		font-size: 14px; 
	}

	.sub-menu {
			background: $secondaryAlt; //set to your own background color
			// border: 1px solid rgba($lightColor, .2); //for visual purposes.  can remove.
			position: absolute;
			top: 60px;
			left: 150px;
			right: auto;
			transform: translate(-50%, 0);
			opacity: 0;
			visibility: hidden;
			width: 300px;
			z-index: -5;
			transition: .25s ease-in-out all;
			// transition: .25s ease-in-out top, .25s ease-in-out opacity;
			> li {

				border-bottom: 1px solid rgba($secondaryColor, .1); 
				//for visual purposes.  can remove.
				&:last-of-type {
					border-bottom:none;
				}

				&.menu-item-has-children {
					position: relative;

					&:after{
						content: '\f061';
						font-family: 'Font Awesome 5 Pro';
						color: $darkColor;
						font-size: 10px;
						// background-size: 8px 12px;
						transition: .1s linear all;
						position: absolute;
						top: 5px;
						z-index: 9999;
						// transform: translateY(-50%);
						right: 10px;
						// margin: 0 auto;
						// background-image: url(images/svg/arrow.svg);
						// background-position: center;
						// background-repeat: no-repeat;

					}
					.sub-menu{
						// left: 300px;
						right: inherit;
						left: inherit;
						transform: none;
						left: 300px;
						top: 0;

					}
					&:hover{ //show third level sub-menu
						&:after{
							right: 7px;
							// transform: translateY(-50%) rotate(90deg);
						}
						> .sub-menu{
							opacity: 1;
							visibility: visible;
							right: inherit;
							left: inherit;
							transform: none;
							left: 300px;
							top: 0;
						}
					}
				}

				a {
					color: $darkColor;
					background: $secondaryAlt;
					padding: 8px 20px !important;
				}
				&:hover {
					> a {
						color: $darkColor;
						border-bottom: none;
						text-decoration: none;
					}
				}
			}
			a{
				text-align: left;
				height: auto !important;
				color: $darkColor;
				line-height: 20px;
			}
		}

		.mega-menu{
			> ul {
				column-count: 3;
				// right: 0px;
			}
			> .sub-menu{
				// position: relative;
				display: none;
				width: 800px;
				border: 1px solid rgba($secondaryAlt, .6); //for visual purposes.  can remove.
				// transition: .25s ease-in-out top, .25s ease-in-out opacity;
				transition: all .5s ease-in-out; 
				top: 95px;
				height: 400px;
				// right: 0;
				position: absolute;
				right: 0px;
				// &.smallify-nav {
				// 	top: 65px !important;
				// }
				.sub-menu{  //reset styling for sub-sub-menus
					visibility: hidden;
					position: relative;
					border-bottom: none; 
					// border-top: 1px solid rgba($lightColor, 0.9);
					border-right: none;
					border-left: none;
					opacity: 1;
					visibility: visible;
					width: 100%;
					top: inherit;
					left: 0!important;
					right: inherit;
					transform: none;
					z-index: 50;
				}
				li{	
					padding-right: 0;
					border: none;
					width: 100%;
					li {
						font-weight: normal;
						// border-bottom: 1px solid rgba($lightColor, 0.9);
						a {
							font-size: 16px !important;
							// font-family: $highlightFont;
						}
					}
					&:after{
						display: none;
					}
				}
				a{
					// color: #fff; //remove
					font-size: 18px !important;
					font-family: $secondaryFont;
					
				}
				> li{
					// font-weight: bold;
					
					// width: 25%; //set this width to however many columns you need
					display: inline-block;
					vertical-align: top;
					padding: 20px;
					> a, > .sub-menu{ //set the background color of the sub-menus
						background: none;
					}
				}
			}
			&:hover {
				> .sub-menu {
					display: block;
				}
			}
		}

		.close-menu{
			display: none!important;
		}
	}