aside {
	display: block;
	margin-bottom: 40px;
	.from-blog & {
		padding-bottom: 20px;

	}
	ul {
		list-style: none;
	}
	li {
		width: 100%;
	}

	@include media($desktop) {
		display: block;
		margin-top: -60px;
		> div {
			width: 350px;
		}
	}

	.tmpl_type_single & {
		// display: none;
	}
}


.sidebar-block {
	background-color: $primaryColor;
	margin-bottom: 30px;
	padding: 30px 0;
	border-top: 4px solid $secondaryColor;
	.sb-heading {
		font-family: $secondaryFont;
		color: #fff;
		padding-left: 30px;
		font-size: 26px;
		margin-bottom: 30px;
	}
	ul {
		padding: 0 30px;
	}
	li {
		font-size: 14px;
		color: $primaryColor;
		font-family: $primaryFont;
		border-bottom: 1px solid rgba($lightColor, .1);
		&:first-of-type {
			border-top: 1px solid rgba($lightColor, .1);
		}
		a {
			color: $lightColor;
			text-decoration: none;
			width: 100%;
			display: block;
			padding: 7px 0;
			&:hover {
				text-decoration: underline;
				// color: $primaryColor;
			}
		}
	}
}

.sb-locations {
	background: #e3e9ec;
	.sb-heading {
		color: $primaryColor;
		position: relative;
		i {
			position: absolute;
			right: 40px;
			top: -10px;
			font-size: 40px;
			color: $secondaryColor;
		}
	}
	.sb-the-locs {
		border-top: 1px solid #b6babd;
		margin: 30px;
		span {
			color: $secondaryColor;
			font-weight: bold;
		}
	}
	.the-loc{
		margin-top: 20px;
		a {
			text-decoration: none;
			color: $darkColor;
			&:hover {
				text-decoration: underline;
			}
	&.loc-map-directions {
		color: $primaryColor;
		text-decoration: underline;
	}
		}
	}
}

.sb-button {
	margin-top: 20px;
}